@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Potta+One&display=swap');

/* 1025px이상 */
body { font-family:'Nanum Gothic', sans-serif; }
.row { max-width: 1170px; margin: 0 auto; padding: 0 15px; }


#header { position: relative; z-index: 999; }
#header.on { position: fixed; top: 0; left: 0; width: 100%; background: #fff; z-index: 99999; }
#header.on .outer { margin-top: -33px; }
#header .outer { background: #F76F6F; color: rgba(255, 255, 255, 0.7); font-size: 12px; padding: 10px 0; letter-spacing: -0.5px; transition: all 0.3s; }
#header .outer a:hover { color: rgba(255, 255, 255, 1); }
#header .outer .row .sns { float: left; }
#header .outer .row .sns a { padding-right: 20px; }
#header .outer .row .membership { float: right; }
#header .outer .row .membership a { padding-left: 20px; position: relative; }
#header .outer .row .membership a::after { content: ''; width: 1px; background: rgba(255, 255, 255, 0.7); position: absolute; 
                                           right: -11px; top: 3px; bottom: 2px; }
#header .outer .row .membership a:last-child:after { display: none; }
#header .row h1 { float: left; font-family: 'Potta One', cursive; font-size: 27px; color: #ffae3d; margin: 30px 0; }
#header .row #nav { float: right; font-size: 16px; margin-top: 40px; }
#header .row #nav .depth1 > li { position: relative; display: inline-block; font-weight: bold; padding: 0 20px 15px 10px;}
#header .row #nav .depth1 > li:first-child { color: #ffd23c; }
#header .row #nav .depth1 > li.on { color: #ffae3d;  }
#header .row #nav .depth1 > li > .depth2 { z-index: 999; display: none; border-radius: 5px; box-shadow: 0px -2px 10px #ddd; 
                                           position: absolute; top: 100%; left: 0; width: 170px; color: #ffae3d; background: #fff; 
                                           padding: 10px 0; }
#header .row #nav .depth1 > li > .depth2::before { content: ''; position: absolute; bottom: 100%; left: 50%; transform: translate(-50%); border: 8px solid #fff; 
                                                   border-top: none; border-left-color: transparent; border-right-color: transparent;  }
#header .row #nav .depth1 > li > .depth2 > li > a { padding: 10px; display: block; font-weight: bold; }
#header .row #nav .depth1 > li > .depth2 > li:hover > a { color: #ffd23c; }
#header .row #nav .depth1 > li.on > .depth2 { display: block; }
#header .row #nav .depth1 > li > a > i { color: #ddd; }
#header .open { display: none; }
#header .close { display: none; }




#footer { font-weight: 600; text-align: center; font-size: 12.25px; }
#footer .menu { background: #eee; color: #333; padding: 10px; }
#footer .menu a { padding: 0 10px; position: relative; }
#footer .menu a::after { content:'';  width: 1px;  background: #000; position: absolute;  right: -0.5px; top: 2.5px; bottom: 2.5px; }
#footer .menu a:nth-child(4)::after { display: none; }
#footer .menu a:hover { color: #ffd23c; }
#footer .info { color: rgba(255, 255, 255, 0.5); background: #222; padding: 40px 0;}
#footer .contact a { padding: 0px 10px 10px; font-size: 21px; display: inline-block; }
#footer .contact a:hover { color:rgba(255, 255, 255, 1); }
#footer .company p { line-height: 1.5; }
#footer .company span { position: relative; padding: 0 7px; font-weight: normal; letter-spacing: -0.7px; }
#footer .company span::after { content: ''; width: 1px; background: rgba(255, 255, 255, 0.5); position: absolute;  right: -2px; top: 4px; 
                               bottom: 2px; }
#footer .company span:last-child::after { display: none; }
#footer .copyright { background: #0a0a0a; color: rgba(255, 255, 255, 0.5); padding: 10px 0; }


/* max-width: 1024px이하 */
@media screen and (max-width : 1024px ) {}
@media screen and (max-width : 768px ) {}


